body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    margin: 30px auto;
}

.filters {
    background-color: rgb(255, 255, 255);
    height: 70px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

.filters button:hover {
    opacity: 90%;
}