.places h1 {
    font-size: 30px;
  }
  
  .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #ff5a5f solid 1px;
    border-radius: 4px;
    position: relative;
    z-index: -5;
  }
  .places > h1 {
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
    z-index: -5;
  }
  .places h2 {
    font-size: 30px;
    text-align: center;
  }
  
  .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .price_by_night {
    color: #ff5a5f;
    border: #ff5a5f 4px solid;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: right;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 6%;
    right: 4%;
    align-items: center;
    padding: 1rem;
  }
  
  .max_guest {
    background-image: url(../images/icon_group.png);
  }
  
  .number_rooms {
    background-image: url(../images/icon_bed.png);
  }
  
  .number_bathrooms {
    background-image: url(../images/icon_bath.png);
  }
  
  .user span {
    font-weight: bold;
  }
  
  .description {
    margin-top: 0.2rem;
  }
  
  .information {
    height: 80px;
    border-top: #dddddd 1px solid;
    border-bottom: #dddddd 1px solid;
    display: flex;
    justify-content: space-evenly;
  }
  
  .max_guest,
  .number_rooms,
  .number_bathrooms {
    margin-top: 0.2rem;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 9em;
    background-repeat: no-repeat;
    background-position: top center;
  }